<!--Current user: $scope.userObject loaded in MainController and edited in myBooksController for adding and receiving books-->
<!--$scope.allUserBooks loaded in AllBooksController is an array of book objects from all users-->
<!--$scope.tradeBook selected book to trade set in AllBooksController-->
<div class="container">
    <h2>All Books</h2>
    <p>Book to trade: {{tradeBook}}</p>
    <p>{{userObject}}</p>
    <hr>
        <ul class="list-group">
            <li ng-repeat="book in allUserBooks" class="list-group-item">
                <img src="{{book.thumbnail}}" class="img-thumbnail img-responsive img-rounded">
                <a href="{{book.link}}" target="_blank" >{{book.title}}</a>
                </br>
                <p>Description: {{book.description}}</p>
                <p>Author: {{book.authors[0]}}</p>
                <p>Belongs to: {{book.name}}</p>
                <p>Belongs to: {{book.id}}</p>
                <button type="button" class="btn btn-default btn-warning" data-toggle="modal" data-target="#myModal" ng-click="setBook(book)">Trade Book</button>
            </li>
        </ul>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Choose One of Your Books To Trade</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li ng-repeat="book in userObject.books" class="list-group-item">
                    <a href="{{book.link}}" target="_blank" >{{book.title}}</a>
                    </br>
                    <p>Author: {{book.authors[0]}}</p>
                    <button type="button" class="btn btn-default btn-warning" data-toggle="modal" data-target="#myModal" ng-click="sendTrade(book)">Trade This Book</button>
            </li>
        </ul>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>