<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>My Trade Requests</h2>
            <h3>You have {{userObject.traderequests.length}} trade requests pending</h3>
            <ul class="list-group">
                <li ng-repeat="request in userObject.traderequests" class="list-group-item">
                    <img src="{{request.thumbnail}}" class="img-thumbnail img-responsive img-rounded">
                    <a href="{{request.link}}" target="_blank" >{{request.title}}</a>
                    <p>Author: {{request.author}}</p>
                    <p>From userID: {{request.requestID}}</p>
                    <p>From user: {{request.requestName}}</p>
                    <p>Book Title to trade: {{request.bookOffer.title}}</p>
                    <p>Book Author to trade: {{request.bookOffer.authors[0]}}</p>
                    <p style="color:red"><strong>Status: {{request.status}}</strong></p>
                    <!--<p>Description: {{request.bookOffer.description}}</p>-->
                    <button type="submit" class="btn btn-default btn-primary" ng-click="acceptRequest(request)">Accept Request</button>
                     <button type="submit" class="btn btn-default btn-warning" ng-click="declineRequest(request)">Decline Request</button>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
                <h2>Send Trade Requests</h2>
                <h3>You have {{userObject.traderequested.length}} send trade requests pending</h3>
                <ul class="list-group">
                <li ng-repeat="request in userObject.traderequested" class="list-group-item">
                    <img src="{{request.thumbnail}}" class="img-thumbnail img-responsive img-rounded">
                    <a href="{{request.link}}" target="_blank" >{{request.title}}</a>
                    <p>Author: {{request.author}}</p>
                    <p>To userID: {{request.ownerID}}</p>
                    <p>To user: {{request.ownerName}}</p>
                    <p>My Book Title to trade: {{request.bookOffer.title}}</p>
                    <p>My Book Author to trade: {{request.bookOffer.authors[0]}}</p>
                    <p style="color:red"><strong>Status: {{request.status}}</strong></p>
                    <!--<p>Description: {{request.bookOffer.description}}</p>-->
                    <button type="submit" class="btn btn-default btn-warning" ng-click="removeBook(book)">Cancel Request</button>
                </li>
            </ul>
        </div>
    </div>    
    <h2>{{userObject.name}}'s Books</h2>
        <form class="form-inline" name="addBookForm">
            <div class="form-group">
                <input type="text" class="form-control" id="bookInput" placeholder="Enter book to add" ng-model="bookQuery">
            </div>
            <button type="button" class="btn btn-default btn-primary" data-toggle="modal" data-target="#myModal" ng-click="retrieveBooks(bookQuery)">Search For Books</button>
        </form>
    <hr> 
    <div class="container">
            <h4>Your Books</h4>
             <ul class="list-group">
                <li ng-repeat="book in userObject.books" class="list-group-item">
                     <h4><a href="{{book.link}}" target="_blank" >{{book.title}}</a></h4>
                    </br>
                    <img src="{{book.thumbnail}}" class="img-thumbnail img-responsive img-rounded">
                    <h5>Author: {{book.authors[0]}}</h5>
                    <p><strong>Description</strong>: {{book.description}}</p>
                    <button type="submit" class="btn btn-default btn-warning" ng-click="removeBook(book)">Delete Book</button>
                </li>
            </ul>
    </div>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Choose one of the books below to add</h4>
            </div>
            <div class="modal-body">
               <ul class="list-group">
                <li ng-repeat="book in books" class="list-group-item">
                    <a href="{{book.link}}" target="_blank" >{{book.title}}</a>
                    <img src="{{book.thumbnail}}" class="img-thumbnail img-responsive img-rounded">
                    <p>Author: {{book.authors[0]}}</p>
                    <button type="submit" class="btn btn-default btn-primary" ng-click="addBook(book)">Add Book</button>
                </li>
            </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>

</div>